---
---
<footer class="footer">
  <div class="footer-inner">
    <small class="copyright">&copy; 2026 初代組系ラーメン麵魂力組</small>
  </div>
</footer>

<style lang="scss">
  @use "../../styles/variables" as *;
  @use "../../styles/mixins" as *;
</style>